# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Testing and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Linters and formatters
.ruff_cache/
.mypy_cache/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store